# Node / Next.js
node_modules/
.next/
/out/
/build/
.env
.env.*
!.env.example
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Backend (Spring Boot)
target/
*.log

# Frontend (Next.js)
.next/
out/
.env
.env.*
node_modules/
next-env.d.ts

.vscode